<div class="content">
  <div class="brand"><a class="link" routerLink="/index">AdminCa</a></div>
  <form id="login-form" action="" method="post">
    <div class="text-center m-t-10"><span class="login-img"><i class="ti-user"></i></span></div>
    <h3 class="login-title">Log in</h3>
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email" autocomplete="off">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group d-flex justify-content-between">
      <label class="ui-checkbox ui-checkbox-info">
        <input type="checkbox"><span class="input-span"></span>Remember me
      </label><a routerLink="/forgot_password">Forgot password?</a>
    </div>
    <div class="form-group">
      <button class="btn btn-info btn-block" type="submit">Login</button>
    </div>
    <div class="social-auth-hr"><span>Or login with</span></div>
    <div class="text-center social-auth"><a class="btn btn-default btn-circle btn-sm m-r-5" href="javascript:;"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-circle btn-sm m-r-5" href="javascript:;"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-circle btn-sm m-r-5" href="javascript:;"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-circle btn-sm m-r-5" href="javascript:;"><i class="fa fa-linkedin"></i></a><a class="btn btn-default btn-circle btn-sm"><i class="fa fa-vk"></i></a></div>
  </form>
  <div class="login-footer">Not a member? <a routerLink="/register" class="text-info">Create accaunt</a></div>
  <div class="font-13 text-center text-white m-t-10 m-b-10">AdminCa. Save your time. Choose the best © 2017</div>
</div>
