<div id="sidebar-collapse">
  <ul class="side-menu metismenu">
    <li routerLinkActive="active">
      <a href="javascript:;">
        <i class="sidebar-item-icon fa fa-th-large"></i>
        <span class="nav-label">Dashboards</span>
        <i class="fa fa-angle-left arrow"></i>
      </a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard v1</a></li>
        <li><a routerLink="/dashboard_2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard v2</a></li>
        <li><a routerLink="/dashboard_3" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard v3</a></li>
        <li><a routerLink="/dashboard_4" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard v4</a></li>
        <li><a routerLink="/dashboard_5" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard v5</a></li>
      </ul>
    </li>
    <li class="heading">FEATURES</li>
    <li><a routerLink="/datatable" routerLinkActive="active"><i class="sidebar-item-icon fa fa-table"></i><span class="nav-label">Datatables</span></a></li>
    <li routerLinkActive="active">
      <a href="javascript:;">
        <i class="sidebar-item-icon fa fa-bar-chart"></i>
        <span class="nav-label">Charts</span>
        <i class="fa fa-angle-left arrow"></i>
      </a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/chartjs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Chart.js</a></li>
        <li><a routerLink="/charts-morris" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Morris Charts</a></li>
        <li><a routerLink="/charts-peity" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Peity Charts</a></li>
        <li><a routerLink="/charts-sparkline" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sparkline Charts</a></li>
      </ul>
    </li>
    <li><a routerLink="/widgets" routerLinkActive="active"><i class="sidebar-item-icon fa fa-puzzle-piece"></i><span class="nav-label">Widgets</span></a></li>
    <li><a routerLink="/icons" routerLinkActive="active"><i class="sidebar-item-icon fa fa-smile-o"></i><span class="nav-label">Icons</span></a></li>
    <li class="heading">PAGES</li>
    <li routerLinkActive="active">
      <a href="javascript:;">
        <i class="sidebar-item-icon fa fa-envelope"></i>
        <span class="nav-label">Mailbox</span>
        <i class="fa fa-angle-left arrow"></i>
      </a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/mailbox" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Mailbox</a></li>
        <li><a routerLink="/mail_view" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Mail view</a></li>
        <li><a routerLink="/mail_compose" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Compose mail</a></li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;">
        <i class="sidebar-item-icon fa fa-pencil"></i>
        <span class="nav-label">Blog</span>
        <i class="fa fa-angle-left arrow"></i>
      </a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">List</a></li>
        <li><a routerLink="/article" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Article</a></li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;">
        <i class="sidebar-item-icon fa fa-shopping-cart"></i>
        <span class="nav-label">E-Commerce</span>
        <i class="fa fa-angle-left arrow"></i>
      </a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/ecommerce_products_board" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products board</a></li>
        <li><a routerLink="/ecommerce_products_list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products list</a></li>
        <li><a routerLink="/ecommerce_products_edit" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products edit</a></li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;">
        <i class="sidebar-item-icon fa fa-file-text"></i>
        <span class="nav-label">Pages</span>
        <i class="fa fa-angle-left arrow"></i>
      </a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/invoice" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Invoice</a></li>
        <li><a routerLink="/timeline" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Timeline</a></li>
        <li><a routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">FAQ</a></li>
        <li><a routerLink="/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Search</a></li>
        <li><a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Profile</a></li>
        <li><a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a></li>
        <li><a routerLink="/login_dark" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login dark</a></li>
        <li><a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Register</a></li>
        <li><a routerLink="/register_dark" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Register dark</a></li>
        <li><a routerLink="/lockscreen" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Lockscreen</a></li>
        <li><a routerLink="/forgot_password" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Forgot password</a></li>
        <li><a routerLink="/error_404" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">404 error</a></li>
        <li><a routerLink="/error_500" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">500 error</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i><span class="nav-label">Menu Levels</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse">
        <li><a href="javascript:;">Level 2</a>
        </li>
        <li><a href="javascript:;"><span class="nav-label">Level 2</span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse">
            <li><a href="javascript:;">Level 3</a></li>
            <li><a href="javascript:;">Level 3</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div class="sidebar-footer"><a href="javascript:;"><i class="fa fa-bullhorn"></i></a><a href="javascript:;"><i class="fa fa-calendar"></i></a><a href="javascript:;"><i class="fa fa-commenting"></i></a><a href="javascript:;"><i class="fa fa-power-off"></i></a></div>
</div>