<div class="content">
  <div class="brand"><a class="link" routerLink="/index">Yashi</a></div>
  <form id="register-form" action="" method="post">
    <div class="text-center m-t-10"><span class="login-img"><i class="ti-check-box"></i></span></div>
    <h3 class="login-title">Sign Up</h3>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <input class="form-control" type="text" name="first_name" placeholder="First Name">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input class="form-control" type="text" name="last_name" placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email" autocomplete="off">
    </div>
    <div class="form-group">
      <input class="form-control" id="password" type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password_confirmation" placeholder="Confirm Password">
    </div>
    <div class="form-group text-left">
      <label class="ui-checkbox ui-checkbox-info">
        <input type="checkbox" name="agree"><span class="input-span"></span>I agree the terms and policy
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-info btn-block" type="submit">Sign up</button>
    </div>
    <div class="social-auth-hr"><span>Or Sign up with</span></div>
    <div class="text-center social-auth"><a class="btn btn-default btn-circle btn-sm m-r-5" href="javascript:;"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-circle btn-sm m-r-5" href="javascript:;"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-circle btn-sm m-r-5" href="javascript:;"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-circle btn-sm m-r-5" href="javascript:;"><i class="fa fa-linkedin"></i></a><a class="btn btn-default btn-circle btn-sm"><i class="fa fa-vk"></i></a></div>
  </form>
  <div class="login-footer">Already a member? <a routerLink="/login" class="text-info">Login here</a></div>
  <div class="font-13 text-center text-white m-t-10 m-b-10">AdminCa. Save your time. Choose the best © 2017</div>
</div>
