@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

.clf:after, .clf:before {
  content: '';
  display: table; }

.clf:after {
  clear: both; }


body {
  font-family: Open Sans,sans-serif;
  font-size: 15px;
  background-color: #fff;
  color: #34495f; 
}

a {
    color: #3498DB;
    cursor: pointer;
}
a:hover, a:focus {
  text-decoration: none;
}
a.link {
  color: inherit; 
}

select:focus, input:focus, a:focus {
  outline: 0; 
}
input, textarea, img, canvas {
  max-width: 100%; 
}
code {
  color: #cb4a4e;
  background-color: #f7f8f8;
}
pre > code {max-height: 600px}
strong {font-weight: 600}
b {font-weight: 700}
.table thead th, .table tfoot th {
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    border-top: 0;
}
.font-bold {font-weight: 700}
.font-strong {font-weight: 600}
.font-14 {font-size: 14px} .font-16 {font-size: 16px} .font-13 {font-size: 13px} .font-12 {font-size: 12px}

.btn {
    border-radius: 2px;
}
.btn-info {
    background-color: #2CC4CB;
    border-color: #2CC4CB;
}
.btn-info:focus, .btn-info.focus, .btn-info:hover, .btn-info.active, .btn-info:active {
    color: #fff;
    background-color: #27b0b6 ;
    border-color: #27b0b6 ;
}
.btn-success {
    color: #fff;
    background-color: #18C5A9;
    border-color: #18C5A9;
}
.btn-success:focus, .btn-success.focus, .btn-success:hover, .btn-success.active, .btn-success:active {
    color: #fff;
    background-color: #15ae96;
    border-color: #15ae96;
}
.btn-danger {
    color: #fff;
    background-color: #f75a5f;
    border-color: #f75a5f;
}
.btn-danger:focus, .btn-danger.focus, .btn-danger:hover, .btn-danger.active, .btn-danger:active {
    color: #fff;
    background-color: #f64247;
    border-color: #f64247;
}
.btn-group-lg>.btn, .btn-lg {font-size:16px}
.dropdown-toggle::after {display: none}
.alert {border-radius: 0}

.content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.section-intro {
    position: relative;
    padding-bottom: 80px;
}
.header {width: 100%; height: 80px;  z-index: 2; transition: all .3s ease-in-out;}
.header .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%
}
.header .logo {
    color: inherit;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}
.logo span {
    color: #2CC4CB;
}
.header-menu .nav-link {
    font-weight: 600;
    padding: 10px 15px;
    color: inherit;
}
.purchase_button {
    display: none;
    margin-left: 15px;
    font-weight: 600;
}
.header-fixed-top {
    position: fixed;
    top: 0;
}
.header.header-scroll {
    height: 50px;
    background-color: #2b3c4e;
    color: #eee;
    opacity: .9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.header-scroll .logo, .header-scroll .header-menu .nav-link {
    color: #eee;
}
.header-scroll .purchase_button {display: block;}


.section-buy {
    padding: 40px 0;
    background-color: #6bd6db;
    color: #fff;
}
.section-buy .price {
    font-size: 80px;
    margin-bottom: 40px;
}

footer {
    padding: 40px 0 30px 0;
    text-align: center;
}


.section-docs {
    padding: 100px 0 60px 0;
}
.docs-sidebar {
    width: 200px;
    flex: 0 0 200px;
}
.docs-sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.docs-sidebar-list li > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
    height: 50px;
    letter-spacing: 1px;
    color: inherit;
}
.docs-sidebar-list li > a:hover {color: #2CC4CB}
.arrow-icon {
    font-size: 14px;
}
.docs-sidebar-list li > a + ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.docs-sidebar-list li > a.active + ul {
    display: block;
}
.docs-sidebar-list li > a.active {color: #2CC4CB}
.docs-sidebar-list li > a.active .arrow-icon:before {
    content: "\f107";
}
.docs-content {
    box-shadow: 0 0 15px 0 rgba(220, 220, 220, 0.4);
}
.docs-content ul li, .docs-content ol li {
    line-height: 26px;
}
.fixedsticky {
  top: 50px;
}

.section-head {
    font-weight: 600;
    margin-bottom: 40px;
}
.section-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}
.separator {
    border-bottom: 1px solid #eee;
    margin: 60px 0;
}
.sidebar-toggler {
    font-size: 22px;
    margin-right: 10px;
}
.sidebar-toggler:hover, .sidebar-toggler:focus {color: #2CC4CB}
@media (max-width: 768px) {
    .docs-sidebar {
        position: fixed;
        left: -200px;
        top: 50px;
        height: 100%;
        background-color: #fff;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        z-index: 5;
    }
    .docs-sidebar.opened {left: 0}
}

.jstree-open > .jstree-anchor > .fa-folder:before {
    content:"\f07c";
    margin-left:2px;
}
.hljs {
    padding: 10px 20px !important;
}

.file-node {
    position: relative;
    padding-left: 10px;
    display: inline-block;
}
.file-node:before {
    display: inline-block;
    content: " ";
    position: absolute;
    left: 0;
    top: 10px;
    height: 4px;
    width: 4px;
    background: #232323;
    border-radius: 50%;
}