<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-md-6">
          <div class="ibox">
            <div class="ibox-head border-0">
              <div class="ibox-title">Statistics2</div>
            </div>
            <div style="background-color:#f3f6fb;">
              <canvas id="chart_1" style="height:180px;"></canvas>
            </div>
            <div class="ibox-body h3 d-flex justify-content-between m-0"><span>68%</span><i class="ti-stats-up text-success"></i></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ibox">
            <div class="ibox-head">
              <div class="ibox-title">Statistics</div>
              <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
              </div>
            </div>
            <div class="ibox-body">
              <div class="easyPieChart easyPieChart-big centered m-t-20 m-b-20" data-percent="73" data-bar-color="#18C5A9"><span class="h3 font-strong line-height-inherit">73<sup>%</sup></span></div>
              <div class="d-flex justify-content-between">
                <div>
                  <div class="m-0 text-success h3">120</div><small>month income</small>
                </div>
                <div>
                  <div class="m-0 text-success h3">$410<sup>.50</sup></div><small>month income</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Visitors Analytics</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <div id="world-map" style="height: 300px;"></div>
          <div class="ibox-fullwidth-block">
            <table class="table table-striped no-border m-t-20 m-b-0">
              <thead>
                <tr>
                  <th class="p-l-20">Country</th>
                  <th>Visits</th>
                  <th>Data</th>
                  <th>Data</th>
                  <th class="text-right p-r-20" width="60px">Online</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="p-l-20"><img class="m-r-10" src="./assets/img/flags/us.png"/>USA
                  </td>
                  <td>7,402</td>
                  <td><span class="peity-bar">5,3,9,6,5,9,7,3,5,2</span></td>
                  <td class="text-success"><i class="fa fa-level-up"></i> +25%</td>
                  <td class="text-right p-r-20">307</td>
                </tr>
                <tr>
                  <td class="p-l-20"><img class="m-r-10" src="./assets/img/flags/russia.png"/>Russia
                  </td>
                  <td>5,105</td>
                  <td><span class="peity-bar">5,3,2,-1,-3,-2,2,3,5,2</span></td>
                  <td class="text-warning"><i class="fa fa-level-down"></i> -12%</td>
                  <td class="text-right p-r-20">208</td>
                </tr>
                <tr>
                  <td class="p-l-20"><img class="m-r-10" src="./assets/img/flags/Australia.png"/>Australia
                  </td>
                  <td>4,700</td>
                  <td><span class="peity-bar">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span></td>
                  <td class="text-success"><i class="fa fa-level-up"></i> +18%</td>
                  <td class="text-right p-r-20">150</td>
                </tr>
                <tr>
                  <td class="p-l-20"><img class="m-r-10" src="./assets/img/flags/China.png"/>China
                  </td>
                  <td>4,650</td>
                  <td><span class="peity-bar">5,3,9,6,5,9,7,3,5,2</span></td>
                  <td class="text-success"><i class="fa fa-level-up"></i> +44%</td>
                  <td class="text-right p-r-20">422</td>
                </tr>
                <tr>
                  <td class="p-l-20"><img class="m-r-10" src="./assets/img/flags/France.png"/>France
                  </td>
                  <td>3,800</td>
                  <td><span class="peity-bar">5,3,2,-1,-3,-2,2,3,5,2</span></td>
                  <td class="text-warning"><i class="fa fa-level-down"></i> -22%</td>
                  <td class="text-right p-r-20">109</td>
                </tr>
                <tr>
                  <td class="p-l-20"><img class="m-r-10" src="./assets/img/flags/Germany.png"/>Germany
                  </td>
                  <td>3,780</td>
                  <td><span class="peity-bar">4,3,-1,2,5,4,-2,-3,-2,3</span></td>
                  <td class="text-success"><i class="fa fa-level-up"></i> +15%</td>
                  <td class="text-right p-r-20">202</td>
                </tr>
                <tr>
                  <td class="p-l-20"><img class="m-r-10" src="./assets/img/flags/uk.png"/>UK
                  </td>
                  <td>2,400</td>
                  <td><span class="peity-bar">4,3,-1,-2,-2,2,5,4,3,1</span></td>
                  <td class="text-success"><i class="fa fa-level-up"></i> +14%</td>
                  <td class="text-right p-r-20">178</td>
                </tr>
                <tr>
                  <td class="p-l-20"><img class="m-r-10" src="./assets/img/flags/UAE.png"/>UAE
                  </td>
                  <td>2,350</td>
                  <td><span class="peity-bar">5,3,9,6,5,9,7,3,5,2</span></td>
                  <td class="text-success"><i class="fa fa-level-up"></i> +12%</td>
                  <td class="text-right p-r-20">185</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="ibox-footer text-center"><a href="javascript:;">View All</a></div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Messages</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider m-0">
            <li class="media"><a class="media-img" href="javascript:;"><img class="img-circle" src="./assets/img/users/u1.jpg" width="40px"/></a>
              <div class="media-body">
                <div class="media-heading">Jeanne <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img class="img-circle" src="./assets/img/users/u2.jpg" width="40px"/></a>
              <div class="media-body">
                <div class="media-heading">Becky <small class="float-right text-muted">1 hrs ago</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img class="img-circle" src="./assets/img/users/u3.jpg" width="40px"/></a>
              <div class="media-body">
                <div class="media-heading">Frank <small class="float-right text-muted">3 hrs ago</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy.</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card border-0 bg-green m-b-20">
        <div class="card-body">
          <h2 class="text-white m-b-5">510 <i class="ti-shopping-cart float-right"></i></h2>
          <div>MONTH ORDERS</div>
          <div class="text-white m-t-5"><i class="ti-stats-up m-r-5"></i><small>25% higher than last month</small></div>
        </div>
        <div class="progress m-b-10 widget-dark-progress">
          <div class="progress-bar" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="card border-0 bg-purple m-b-20">
        <div class="card-body">
          <h2 class="text-white m-b-5">$2400 <i class="la la-money float-right"></i></h2>
          <div>MONTH INCOME</div>
          <div class="text-white m-t-5"><span>IOS</span><span class="m-l-10"><i class="fa fa-caret-up text-success"></i> 14%</span><span class="m-l-20">MAC</span><span class="m-l-10"><i class="fa fa-caret-down text-danger"></i> 9%</span></div>
        </div>
        <div class="progress m-b-10 widget-dark-progress">
          <div class="progress-bar" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="card border-0 bg-red m-b-20">
        <div class="card-body">
          <h2 class="text-white m-b-5">$250 <i class="ti-stats-up float-right"></i></h2>
          <div>MONTH INCOME</div>
        </div>
        <div id="spark_1">34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44</div>
      </div>
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Feeds</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider m-0">
            <li class="media">
              <div class="media-img"><i class="ti-user font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading">New customer <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-info-alt font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading text-warning">Server Warning <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-announcement font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading">7 new feedback <small class="float-right text-muted">Today</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-check font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading text-success">Issue fixed <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-shopping-cart font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading">7 New orders <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-reload font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading text-danger">Server warning <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
